@model bool
@inject IUserService UserService
@inject IPostService PostService
@{
    ViewBag.Title = "Notifications";
 
}

<section class="notification">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                
                <div class="notification__title">
                    <h2 class="d-inline-block">All notifications</h2>
                    <a class="d-inline-block pull-right" asp-controller="Settings" asp-action="Notifications">
                        <i class="fa fa-cog"></i> settings
                    </a>
                </div>
                <div id="mainNotificationContainer"></div>

                @if (Model)
                {
                    <span class="d-none" id="mainNotificationLoadMore">@Model</span>
                }
                else
                {
                    <span class="d-none" id="mainNotificationLoadMore"></span>
                }

            </div>
        </div>
    </div>
</section>

