<section class="chat">
    <div class="row no-gutters">
        <div class="col-md-3">
            <div class="chat-contact">
                <div class="chat__header">
                    <h3>Chat Contacts</h3>
                </div>

                <div class="chat-contact__body">
                     <input type="text" placeholder="Search for a friend" class="chat-contact__input" role="search"/> 

                    <ul class="chat-contact__list">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="chat-box">
                <div class="chat-box__wrapper d-none">
                    <div class="chat__header">    
                <h3 class="chat-box__recipient">You and <span></span></h3>
                    </div>
                    
                    <div class="chat-box__previous-chat-info">
                        <p>Scroll up to load previous chat.</p>
                    </div>

                    <div class="chat-box__body">
                      
                    </div>
                    <div class="chat-box__footer">
                        <input class="chat-box__input" type="text"/>
                    </div>
                    
                    <div class="chat-box__spinner">
                        <i class="fa fa-spin fa-spinner"></i>
                    </div>
                    
                    <span class="chat-loadMore d-none"></span>

                </div>
            </div>
        </div>

    </div>


</section>

