<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Reactor</title>
    <link href="~/assets/styles/bootstrap.css" rel="stylesheet"/>
    <link href="~/assets/styles/styles.css" rel="stylesheet"/>
</head>
<body>
<section class="account">
    
    @RenderBody()
</section>


</body>
</html>