<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Reactor</title>
    <link href="~/assets/styles/font-awesome.css" rel="stylesheet"/>
    <link href="~/assets/styles/bootstrap.css" rel="stylesheet"/>
    <link href="~/assets/styles/styles.css" rel="stylesheet"/>
</head>
<body>
<section class="account">
    
    @RenderBody()
</section>

<script type="text/javascript" asp-append-version="true" src="~/assets/scripts/app-bundle.js"></script>
</body>
</html>