@using Reactor.Core.Helpers
@inject CommonHelper CommonHelper

@{
    Layout = "_Layout";
}

<section class="profile">

    @await Component.InvokeAsync("ProfileCover", CommonHelper.GetUserNameFromUrl())
    
    <div class="container">
        <div class="row">
            @RenderBody()

        </div>
    </div>
</section>