@{
    ViewBag.Title = ViewBag.Title;
    Layout = "_Layout";
}

<section class="container settings">
    <div class="row">
        <div class="col-md-3">
            <ul class="settings__menu-list">
                <li class="settings__menu-item settings__menu-item--active"><a class="settings__menu-link" asp-controller="Settings" asp-action="Basic">Basic</a></li>
                <li class="settings__menu-item"><a class="settings__menu-link" asp-controller="Settings" asp-action="Notifications">Notifications</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="settings__wrapper">
                @RenderBody()
            </div>
        </div>

    </div>
</section>