@model object

@{
    ViewBag.Title = "title";
}

<h2>Welcome to Reactor Homepage</h2>

<form asp-controller="Account" asp-action="Logout" method="post">
    
<button class="btn btn-warning">Logout</button>
</form>
