.u-margin-left-medium {
  margin-left: 6rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #f5f8fa; }

.btn {
  font-size: 1.4rem; }

body {
  font-family: "Lato", sans-serif;
  color: #777;
  font-weight: 400;
  line-height: 1.7; }

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60rem;
  font-size: 1.6rem; }
  .form__group:not(:last-child) {
    margin-bottom: 1rem; }
  .form__error {
    text-align: center;
    color: #e41c25;
    font-size: 1.6rem;
    font-weight: 500; }
    .form__error ul {
      list-style: none; }
  .form__title {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: center; }
  .form__input {
    font-size: 1.5rem;
    padding: 1.2rem 2rem;
    font-family: inherit;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2px;
    color: inherit;
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%; }
    .form__input::-webkit-input-placeholder {
      color: #999; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #55c57a; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff7730; }
  .form__checkbox-input {
    display: none; }
  .form__checkbox-label {
    position: relative;
    cursor: pointer;
    padding-left: 4.5rem; }
  .form__checkbox-button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 5px solid #55c57a;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0; }
    .form__checkbox-button::after {
      content: "";
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      background-color: #55c57a;
      border-radius: 50%;
      opacity: 0;
      transition: all .5s; }
  .form__checkbox-input:checked + .form__checkbox-label .form__checkbox-button::after {
    opacity: 1; }
  .form__input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
  .form__input-file + label {
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
    background-color: #55c57a;
    display: inline-block;
    padding: .5rem 1rem; }
  .form__input-file:focus + label,
  .form__input-file + label:hover {
    background-color: #28b485; }
  .form__input-file + label {
    cursor: pointer; }
  .form__input-file:focus + label {
    outline: 1px dotted #d2e6cf;
    outline: -webkit-focus-ring-color auto 5px; }

.post {
  border-radius: 4px;
  border: 1px solid #c6c8ca;
  background-color: #fff;
  font-size: 1.4rem;
  position: relative;
  padding: 2rem;
  margin-bottom: 2rem; }
  .post__photo-box {
    width: 5rem;
    height: 5rem;
    position: absolute; }
  .post__photo {
    width: 4rem;
    border-radius: 50%;
    height: 4rem; }
  .post__comments {
    position: relative;
    display: none; }
    .post__comments--show {
      display: block; }
  .post__commenter {
    position: absolute;
    left: 0; }
  .post__comment-box {
    margin-left: 5rem; }
  .post__comment-input {
    width: 100%;
    border-radius: 2rem;
    padding: .7rem 2rem;
    border: 1px solid #c6c8ca; }
    .post__comment-input:focus {
      outline: none; }
  .post__comment-list-box {
    margin-bottom: 1rem; }
  .post__comments-list {
    margin-left: 5rem;
    border: 1px solid #c6c8ca;
    border-radius: 2rem;
    padding: .7rem 1rem;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto; }
    .post__comments-list h4 {
      font-weight: 700;
      font-size: 1.4rem;
      text-transform: capitalize;
      margin-right: .2rem;
      color: #55c57a; }
      .post__comments-list h4:hover {
        text-decoration: underline;
        cursor: pointer; }
  .post__comment-author {
    position: absolute; }
  .post__comment-author-photo {
    width: 4rem;
    border-radius: 50%;
    height: 4rem; }
  .post__icons {
    margin: 2rem 0;
    color: #777; }
    .post__icons a {
      color: #777; }
      .post__icons a:hover {
        text-decoration: underline;
        cursor: pointer; }
  .post__author {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize; }
  .post__text-container {
    margin-left: 6rem;
    padding-bottom: 1rem; }
  .post__text {
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto; }
  .post__time {
    font-size: 1rem; }

.box {
  padding: 2rem;
  background-color: #fff;
  border: 1px solid #c6c8ca;
  border-radius: .5rem;
  margin-bottom: 2rem; }
  .box__title {
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize; }
  .box__list {
    list-style: none; }
  .box__item {
    font-size: 1.5rem;
    font-weight: 300; }
    .box__item:not(last-child) {
      margin-bottom: .7rem; }
  .box__icon {
    font-size: 1.4rem;
    display: inline-block;
    padding-right: .8rem;
    color: #55c57a; }
  .box__link {
    color: #005cbf;
    display: inline-block;
    padding-left: 1rem; }

.loader {
  text-align: center;
  width: 100%;
  font-size: 1.6rem;
  display: none;
  padding: 2rem; }
  .loader__icon {
    color: #28b485; }
  .loader--show {
    display: block; }

.account {
  background: linear-gradient(to right, rgba(210, 230, 207, 0.9), rgba(40, 180, 133, 0.9)) no-repeat center fixed;
  background-size: cover;
  height: 100vh; }

.home .status {
  border-radius: 4px;
  border: 1px solid #c6c8ca;
  padding: 2rem;
  background-color: #fff; }
  .home .status__input {
    border: 1px solid #c6c8ca;
    width: 85%;
    margin-left: 6rem; }
  .home .status__photo-box {
    width: 5rem;
    height: 5rem;
    position: absolute; }
  .home .status__photo {
    max-width: 100%;
    border-radius: .5rem; }

.home .suggested__name {
  font-size: 1.7rem; }

.home .status__upload-icon {
  margin-left: 6rem;
  color: #55c57a; }

.navbar {
  background-image: linear-gradient(#55c57a, #28b485); }
  .navbar a.nav-link {
    font-size: 1.6rem;
    color: #fff !important; }

.profile {
  height: 100rem; }
  .profile__cover {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/bg-profile.jpeg");
    background-position: center;
    height: 65vh;
    background-size: cover;
    position: relative; }
  .profile__info {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; }
  .profile__photo {
    width: 10rem;
    height: 10rem;
    border-radius: 50%; }
  .profile__title {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 700; }
  .profile__description {
    font-size: 1.4rem;
    max-width: 25rem; }
  .profile__follow {
    position: absolute;
    bottom: 3%;
    right: 3%; }
    .profile__follow-btn {
      display: block;
      color: #fff;
      font-size: 1.4rem;
      border: 1px solid #d2e6cf;
      padding: .7rem 1rem;
      transition: all .3s ease-out; }
      .profile__follow-btn:hover {
        color: #fff;
        background-color: #55c57a;
        text-decoration: none; }
  .profile__stats {
    background-color: #fff;
    padding: .5rem .8rem;
    margin-bottom: 4rem;
    text-align: center; }
  .profile__list {
    list-style: none; }
  .profile__item {
    display: inline-block;
    padding: 0 2rem; }
  .profile__link {
    color: #777;
    font-size: 1.4rem; }
    .profile__link:hover {
      text-decoration: none;
      color: #d2e6cf; }
  .profile__counter {
    text-transform: uppercase; }
  .profile__counter {
    color: #28b485;
    display: block; }
  .profile__icon {
    color: #28b485; }
