
//$color-primary-light:#2998ff;
//$color-primary-dark:#5643fa;
$color-primary: #55c57a;
$color-primary-light: #d2e6cf;
$color-primary-dark: #28b485;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-grey-dark: #777;
$color-grey-light: #c6c8ca;;

$color-white :#fff;
$color-black :#000;
$color-danger: #e41c25;