@model bool
@inject IUserService UserService
@inject IPostService PostService
@{
    ViewBag.Title = "Notifications";
    Layout = "_Layout";
}

<section class="notification">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div id="mainNotificationContainer"></div>

                @if (Model)
                {
                    <span class="d-none" id="mainNotificationLoadMore">@Model</span>
                }
                else
                {
                    <span class="d-none" id="mainNotificationLoadMore"></span>
                }

            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("_AntiForgery")