.account {
  background: linear-gradient(
                  to right,
                  rgba($color-primary-light, .9),
                  rgba($color-primary-dark, .9)) no-repeat center fixed;
  background-size: cover;
  height: 100vh;

}