.profile {
  height: 100rem;

  &__cover {
    background: linear-gradient(to bottom,rgba($color-black, .4), rgba($color-black, .4)), url("../images/bg-profile.jpeg");
    background-position: center;
    height: 65vh;
    background-size: cover;
    position: relative;
  }
  &__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $color-white;
  }

  &__photo {

    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 1rem;

  }

  &__title {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__description {
    font-size: 1.4rem;
    max-width: 25rem;
  }
  
  &__follow{
    position: absolute;
    bottom: 3%;
    right: 3%;
    
    &-btn{
      display: block;
      color: $color-white;
      font-size: 1.4rem;
      border: 1px solid $color-primary-light;
      padding: .7rem 1rem;
      transition: all .3s ease-out;
      
      &:hover{
        color: $color-white;
        background-color: $color-primary;
        text-decoration: none;
      }
    }
  }
  
  &__stats{
    background-color: $color-white;
    padding: .5rem .8rem;
    margin-bottom: 4rem;
  text-align: center;
  }
  
  &__list{
    list-style: none;
  }
  
  &__item{
    display: inline-block;
    padding: 0 2rem; 
  }
  
  &__link{
    color: $color-grey-dark;
    font-size: 1.4rem;
    &:hover{
      
    text-decoration: none;
      color: $color-primary-light;
    }
  }
  &__counter{
    text-transform: uppercase;
  }
  
  &__counter{
    color: $color-primary-dark;
    display: block;
  }
  &__icon{
    color: $color-primary-dark;
  }
  
  &__img-block{
    margin-bottom: 2rem;
    
  }
  
  
}