.box {
  background-color: $color-white;
  border: 1px solid $color-grey-light;
  border-radius: .5rem;
  margin-bottom: 2rem;



  &__header-bg{
    height: 12rem;
    overflow: hidden;
    background-color: $color-black;
    position: relative;
  
  }


  &__bg-img{
    max-width: 100%;
    opacity: 0.7;
  }
  
  
  &__content{
    padding: 0 2rem 0 2rem;

  }
  
  &__profile-min{
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  &__profile-img{
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
  }

  &__profile-content{
    text-align: center;
    padding: 1rem 1rem 0;
    
  }
  
  &__profile-name{
    font-weight: 700;
    font-size: 1.7rem;
    text-transform: capitalize;
  }
  &__profile-other{
    font-size: 1.4rem;
    text-transform: lowercase;

  }

  &__header{
    padding: 2rem 2rem .5rem;
  }
 

  &__title{
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  
  &__list{
    list-style: none;
  }
  
  &__item{
    font-size: 1.5rem;
    font-weight: 300;

    &:not(last-child){
       margin-bottom: .7rem;
     }
  }
  
  &__icon{
    font-size: 1.4rem;
    display: inline-block;
    padding-right: .8rem;
    color: $color-primary;
    
  }
  
  &__link{
    color: #005cbf;
    display: inline-block;
    padding-left: 1rem;
  }
  
  &__stat{
    span{
      font-size: 1.1rem;
      font-weight: 700;
    }
    
    p{
      margin-bottom: 0;
      font-size: 1.4rem;
      color: $color-primary-dark;
    }
  }
}