@model IEnumerable<Post>

<div class="col-12">
    @foreach (var post in Model)
    {
        <div class="post mb-3">
            <div class="post__content">
                <div class="post__photo-box">
                    <img class="post__photo" alt="@post.Id image" src="~/assets/images/person.jpg"/>
                </div>

                <div class="post__text-container">
                    <h2 class="post__author d-inline-block">@post.CreatedBy.FullName</h2>
                    <span class="d-inline-block pull-right post__time">12 min</span>
                    <p class="post__text"> @post.Content</p>
                </div>
                @foreach (var photo in post.Photos)
                {
                    <img src="~/uploads/posts/@photo.FileName" class="p-1 w-100 d-block"/>
                }

            </div>
            <div class="post__comments">
                Comments
            </div>
        </div>
    }
</div>