
@model IEnumerable<Follow>
@inject CommonHelper CommonHelper

@{
    ViewBag.Title = "Followers";
    Layout = "_ProfileLayout";
}

@if (Model.Any())
{
    foreach (var follow in Model)
    {
        await Html.RenderPartialAsync("Templates/_Follow", follow.Follower);
    }  
}
else
{
    <div class="col-12 text-center">
        <h2 class="text-capitalize">No Follower is available.</h2>
    </div>
}