@model ProfileModel
@inject CommonHelper CommonHelper
@{
    ViewData["Title"] = $"{CommonHelper.GetUserNameFromUrl()}'s profile page";
    
    Layout = "_ProfileLayout";
}
<div class="col-md-3">
    
    <div class="box">
        <div class="box__header">
            <h2 class="box__title">About</h2>
        </div>
        <div class="box__content">
            <ul class="box__list">
                <li class="box__item">
                    <span class="fa fa-globe box__icon"></span> Website
                    <a href="#" class="box__link">www.frowgh.com</a>
                </li>
                <li class="box__item">
                    <span class="fa fa-home box__icon"></span> Lives in
                    <a href="#" class="box__link">Abrepo, Kumasi</a>
                </li>
                <li class="box__item">
                    <span class="fa fa-globe box__icon"></span> From
                    <a href="#" class="box__link">Mffensi</a>
                </li>
                <li class="box__item">
                    <span class="fa fa-globe box__icon"></span> Works at
                    <a href="#" class="box__link">Microsoft</a>
                </li>
            </ul>
        </div>
    </div>

</div>


<div class="col-md-6">
    <div id="post-container" data-url="/profile/posts/@CommonHelper.GetUserNameFromUrl()">
    </div>
    <div class=" no-posts d-none text-center p-2 w-100">
        <h2 class="text-capitalize">No more posts</h2>
    </div>

    @if (Model.PostLoadMore)
    {
        <span class="d-none" id="post-loadMore">@Model.PostLoadMore</span>
    }
    else
    {
        <span class="d-none" id="post-loadMore"></span>
    }

    <div class="loader">
        <span class="fa fa-spin fa-spinner loader__icon"></span>
        please wait...
    </div>
</div>

<div class="col-md-3">
    <div class="box">
        <div class="box__header">
            <h2 class="box__title">Suggested Friends</h2>
        </div>
        <div class="box__content">
            <ul class="box__list">
                <li class="box__item">
                    <span class="fa fa-globe box__icon"></span> Website
                    <a href="#" class="box__link">www.frowgh.com</a>
                </li>
                <li class="box__item">
                    <span class="fa fa-home box__icon"></span> Lives in
                    <a href="#" class="box__link">Abrepo, Kumasi</a>
                </li>
                <li class="box__item">
                    <span class="fa fa-globe box__icon"></span> From
                    <a href="#" class="box__link">Mffensi</a>
                </li>
                <li class="box__item">
                    <span class="fa fa-globe box__icon"></span> Works at
                    <a href="#" class="box__link">Microsoft</a>
                </li>
            </ul>
        </div>
    </div>

</div>



@await Html.PartialAsync("_AntiForgery")


