@model IEnumerable<Reactor.Core.Domain.Photos.Photo>

@{
    ViewBag.Title = "title";
    Layout = "_ProfileLayout";
}

@if (Model.Any())
{
    foreach (var photo in Model)
    {
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="profile__img-block">
                <img src="~/uploads/posts/@photo.FileName" class="p-1 d-block w-100" data-overlay/>
            </div>
        </div>
    }
}
else
{
    <div class="col-12 text-center">
        <h2 class="text-capitalize">No Photo is available.</h2>
    </div>
}