@inject IPostService PostService
@inject IFollowService FollowService    
<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="box">
        <div class="box__header-bg">
            <img class="box__bg-img" src="~/assets/images/bg-profile.jpeg"/>
            <div class="box__profile-min">
                <a asp-controller="Profile" asp-action="Index" asp-route-username="@Model.UserName">
                    <img src="@Model.GetPicture()" class="box__profile-img"/>

                </a>
                
                </div>
        </div>
        <div class="box__content">
          
            <div class="box__profile-content">
                <h2 class="box__profile-name">
                    <a asp-controller="Profile" asp-action="Index" asp-route-username="@Model.UserName">
                        @Model.FullName</a>
                </h2>
                <span class="text-muted box__profile-other">@@@Model.UserName</span>
            </div>
        </div>
        <div class="box__footer">
            <div class="d-flex text-center justify-content-between">
                <div class="p-4 box__stat">
                    <span class="text-uppercase">Posts</span>
                    <p>@await PostService.GetUserTotalPostsAsync(Model.Id)</p>
                </div>
                <div class="p-4 box__stat">
                    <span class="text-uppercase">Followers</span>
                    <p>@await FollowService.GetUserTotalFollowersAsync(Model.Id)</p>
                </div>
                <div class="p-4 box__stat">
                    <span class="text-uppercase">Following</span>
                    <p>@await FollowService.GetUserTotalFolloweesAsync(Model.Id)</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
