@model IEnumerable<Reactor.Core.Domain.Members.User>
<div class="card suggested">
    <div class="card-header">
        <h2 class="text-capitalize text-center">Suggested friends</h2>
    </div>
@foreach (var user in Model)
{
      
        <div class="card-body">
            <div class="d-flex">
                <div class="mr-3">
                    <img src="~/assets/images/person.jpg" class="rounded-circle" width="50" height="50"/>

                </div>
                <div>
                    <span class="d-block font-weight-bold suggested__name">@user.UserName</span>

                    <form asp-controller="Friend" asp-action="AddFriendRequest" method="post" asp-route-requestedToId="@user.Id">
                        <button class="btn btn-success"><i class="fa fa-user-plus"></i> Add as friend</button>
                    </form>
                </div>

            </div>
        </div>

}

</div>
